{% extends 'layout.html' %}
{% block content %}

<div class='row'>
  <div class='col-md-8'>
    <div id='map-canvas' style='height:500px' style='border:solid 1px black'></div>
  </div>
  <div class='col-md-4'>
    {% include 'selectors.html' %}
    {% include 'trip.html' %}

  </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwgX7_5UpW_WWVNh8z0yw90bqmfx9Gm9o&sensor=true"></script>
<script>
function initialize_gmaps() {
    // initialize new google maps LatLng object
    var myLatlng = new google.maps.LatLng(40.705189,-74.009209);
    // set the map options hash
    var mapOptions = {
        center: myLatlng,
        zoom: 16,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    // get the maps div's HTML obj
    var map_canvas_obj = document.getElementById("map-canvas");
    // initialize a new Google Map with the options
    var map = new google.maps.Map(map_canvas_obj, mapOptions);
    // Add the marker to the map
    var marker = new google.maps.Marker({
        position: myLatlng,
        title:"Hello World!"
    });
    // Add the marker to the map by calling setMap()
    marker.setMap(map);
    return map;
}

$(document).ready(function() {
    window.map = initialize_gmaps();
    window.day = 1;
    $('#day1').removeClass('hidden');
});
</script>

<script>
  {% autoescape false %}
  // note to instructors: next iteration, change `all_xyz` to `templateXyz`
  var ourData = {
    Hotels: {{ hotels | json }},
    Restaurants: {{ restaurants | json }},
    Activities: {{ activities | json }}
  };

  var markers = [];
  markers.push({});
  
  $('.selectors').on('click','button', function() {
    var category = $(this).data("category");
    var item  = $('select[data-category="'+category+'"] option:selected');
    var itemID = item.val();
    var newItineraryItem = $('{% include 'itineraryItem.html'%}');

    $('#day'+window.day+' .itinerary[data-category="'+category+'"]').append(newItineraryItem);

    var location = ourData[category].filter(function(a){
        return (a._id == itemID);
    })[0].place.location;

    var myLatlng = new google.maps.LatLng(location[0],location[1]);
    
    var marker = new google.maps.Marker({
        position: myLatlng,
        title:item.text()
    });
    markers[window.day-1][itemID] = marker;
    marker.setMap(window.map);
  });

  $('.itinerary').on('click','button', function() {
    markers[window.day-1][this.value].setMap(null);
    delete markers[window.day-1][this.value];
    $(this).parent().parent().remove();

  });

  $('#newDay').on('click', function(){
    markers.push({});
    $($('.nav-pills .hidden')[0]).removeClass('hidden');

    if(markers.length == 3){
        $(this).remove();
    }
  });



  {% endautoescape %}
</script>

{% endblock %}
