<h4 style='text-align: center'>Day 2</h4>
<div class='panel panel-default'>
  <div class='panel-heading'>
    <ul class='nav nav-pills'>
      <li>
        <a href='/'>
          One
        </a>
      </li>
      <li>
        <a href='/'>
          Two
        </a>
      </li>
      <li class='active'>
        <a href='/'>
          Three
        </a>
      </li>
    </ul>
  </div>
  <div class='panel-body'>
    <div class="itinerary row" data-category="Hotels">
      <div class="panel-heading">My Hotels</div>
    </div>
    <div class="row itinerary" data-category="Restaurants">
      <div class="panel-heading">My Restaurants</div>
    </div>
    <div class = "row itinerary" data-category="Activities">
      <div class="panel-heading">My Activities</div>
    </div>
  </div>
</div>
