<h4 class="dayTitle">Day 1</h4>
<div class='panel panel-default'>
  <div class='panel-heading'>
    <ul class='nav nav-pills'>
      <li class='active' data-day="1">
        <a href='#'>
          One
        </a>
      </li>
      <li class='hidden' data-day="2">
        <a href='#'>
          Two
        </a>
      </li>
      <li class='hidden' data-day="3">
        <a href='#'>
          Three
        </a>
      </li>
      <li>
        <button class='btn btn-sm btn-primary' id="newDay">+</button>
      </li>
      <li>
        <button class="btn btn-sm btn-danger hidden" id="removeDay">x</button>
      </li>
    </ul>

  </div>
  {% set dayCount = Array(4) %}
  {% for x, y in dayCount %}
    <div class='panel-body hidden day' id='day{{x+1}}'>
      <div class="itinerary row" data-category="Hotels">
        <div class="panel-heading"><h4>My Hotels</h4></div>
      </div>
      <div class="row itinerary" data-category="Restaurants">
        <div class="panel-heading"><h4>My Restaurants</h4></div>
      </div>
      <div class = "row itinerary" data-category="Activities">
        <div class="panel-heading"><h4>My Activities</h4></div>
      </div>
    </div>  
  {% endfor %}
   
